numpy>=1.26.4
torch>=2.1.2
monai>=1.3.0
huggingface_hub
transformers>=4.38.2
torchvision>=0.16.2
nibabel
nltk
pandas
rich
einops
peft
matplotlib
sentencepiece
protobuf
accelerate
SimpleITK
h5py
merlin-vlm==0.0.6
torchmetrics
wandb
